/* Shared styles */
.gradient-text {
  background: linear-gradient(to bottom right, #000000 60%, #000033 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}    
